<div class="jumbotron">
     <% if user_signed_in? %>
	<div class="center">
	<h1>Dev app: Home page</h1>
	<p>...</p>
	</div>
     <% else %>
	<h1>Dev app: Home page</h1>
	<p>
	  Sign up <%= link_to "here", new_user_registration_path, class: "btn btn-primary" %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </p>
     <% end %>
</div>
